.footer * {
  color: white;
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: #343a40;
  color: #fff;
}

.footer-links a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}
